text {
    font-size: 11pt;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    text-align: center;
    fill-opacity: 1;
    font-family: Helvetica
}

.muted {
    fill: #aaa
}

.warning {
    fill: #f6b900
}

.error {
    fill: #f60000
}

.serror {
    stroke: #f60000 !important;
}

.info {
    fill: #0041c4
}

.success {
    fill: #00ab00
}

.h1 {
    font-size: 33pt;
    font-weight: bold
}

.h2 {
    font-size: 27pt;
    font-weight: bold
}

.h3 {
    font-size: 20pt;
    font-weight: bold
}

.h4 {
    font-size: 14pt;
    font-weight: bold
}

.h5 {
    font-size: 11pt;
    font-weight: bold
}

.h6 {
    font-size: 8pt;
    font-weight: bold
}

/* Colors */
use.white { stroke:#ffffff; fill:#ffffff; color:#ffffff;  }
use.default { stroke:#e1e5ec; fill:#e1e5ec; color:#e1e5ec;  }
use.dark { stroke:#2f353b; fill:#2f353b; color:#2f353b;  }
use.blue { stroke:#3598dc; fill:#3598dc; color:#3598dc;  }
use.blue-madison { stroke:#578ebe; fill:#578ebe; color:#578ebe;  }
use.blue-chambray { stroke:#2C3E50; fill:#2C3E50; color:#2C3E50;  }
use.blue-ebonyclay { stroke:#22313F; fill:#22313F; color:#22313F;  }
use.blue-hoki { stroke:#67809F; fill:#67809F; color:#67809F;  }
use.blue-steel { stroke:#4B77BE; fill:#4B77BE; color:#4B77BE;  }
use.blue-soft { stroke:#4c87b9; fill:#4c87b9; color:#4c87b9;  }
use.blue-dark { stroke:#5e738b; fill:#5e738b; color:#5e738b;  }
use.blue-sharp { stroke:#5C9BD1; fill:#5C9BD1; color:#5C9BD1;  }
use.blue-oleo { stroke:#94A0B2; fill:#94A0B2; color:#94A0B2;  }
use.green { stroke:#32c5d2; fill:#32c5d2; color:#32c5d2;  }
use.green-meadow { stroke:#1BBC9B; fill:#1BBC9B; color:#1BBC9B;  }
use.green-seagreen { stroke:#1BA39C; fill:#1BA39C; color:#1BA39C;  }
use.green-turquoise { stroke:#36D7B7; fill:#36D7B7; color:#36D7B7;  }
use.green-haze { stroke:#44b6ae; fill:#44b6ae; color:#44b6ae;  }
use.green-jungle { stroke:#26C281; fill:#26C281; color:#26C281;  }
use.green-soft { stroke:#3faba4; fill:#3faba4; color:#3faba4;  }
use.green-dark { stroke:#4DB3A2; fill:#4DB3A2; color:#4DB3A2;  }
use.green-sharp { stroke:#2ab4c0; fill:#2ab4c0; color:#2ab4c0;  }
use.green-steel { stroke:#29b4b6; fill:#29b4b6; color:#29b4b6;  }
use.grey { stroke:#E5E5E5; fill:#E5E5E5; color:#E5E5E5;  }
use.grey-steel { stroke:#e9edef; fill:#e9edef; color:#e9edef;  }
use.grey-cararra { stroke:#fafafa; fill:#fafafa; color:#fafafa;  }
use.grey-gallery { stroke:#555555; fill:#555555; color:#555555;  }
use.grey-cascade { stroke:#95A5A6; fill:#95A5A6; color:#95A5A6;  }
use.grey-silver { stroke:#BFBFBF; fill:#BFBFBF; color:#BFBFBF;  }
use.grey-salsa { stroke:#ACB5C3; fill:#ACB5C3; color:#ACB5C3;  }
use.grey-salt { stroke:#bfcad1; fill:#bfcad1; color:#bfcad1;  }
use.grey-mint { stroke:#525e64; fill:#525e64; color:#525e64;  }
use.red { stroke:#e7505a; fill:#e7505a; color:#e7505a;  }
use.red-pink { stroke:#E08283; fill:#E08283; color:#E08283;  }
use.red-sunglo { stroke:#E26A6A; fill:#E26A6A; color:#E26A6A;  }
use.red-intense { stroke:#e35b5a; fill:#e35b5a; color:#e35b5a;  }
use.red-thunderbird { stroke:#D91E18; fill:#D91E18; color:#D91E18;  }
use.red-flamingo { stroke:#EF4836; fill:#EF4836; color:#EF4836;  }
use.red-soft { stroke:#d05454; fill:#d05454; color:#d05454;  }
use.red-haze { stroke:#f36a5a; fill:#f36a5a; color:#f36a5a;  }
use.red-mint { stroke:#e43a45; fill:#e43a45; color:#e43a45;  }
use.yellow { stroke:#c49f47; fill:#c49f47; color:#c49f47;  }
use.yellow-gold { stroke:#E87E04; fill:#E87E04; color:#E87E04;  }
use.yellow-casablanca { stroke:#f2784b; fill:#f2784b; color:#f2784b;  }
use.yellow-crusta { stroke:#f3c200; fill:#f3c200; color:#f3c200;  }
use.yellow-lemon { stroke:#F7CA18; fill:#F7CA18; color:#F7CA18;  }
use.yellow-saffron { stroke:#F4D03F; fill:#F4D03F; color:#F4D03F;  }
use.yellow-soft { stroke:#c8d046; fill:#c8d046; color:#c8d046;  }
use.yellow-haze { stroke:#c5bf66; fill:#c5bf66; color:#c5bf66;  }
use.yellow-mint { stroke:#c5b96b; fill:#c5b96b; color:#c5b96b;  }
use.purple { stroke:#8E44AD; fill:#8E44AD; color:#8E44AD;  }
use.purple-plum { stroke:#8775a7; fill:#8775a7; color:#8775a7;  }
use.purple-medium { stroke:#BF55EC; fill:#BF55EC; color:#BF55EC;  }
use.purple-studio { stroke:#8E44AD; fill:#8E44AD; color:#8E44AD;  }
use.purple-wisteria { stroke:#9B59B6; fill:#9B59B6; color:#9B59B6;  }
use.purple-seance { stroke:#9A12B3; fill:#9A12B3; color:#9A12B3;  }
use.purple-intense { stroke:#8775a7; fill:#8775a7; color:#8775a7;  }
use.purple-sharp { stroke:#796799; fill:#796799; color:#796799;  }
use.purple-soft { stroke:#8877a9; fill:#8877a9; color:#8877a9;  }