text {
    font-size: 11pt;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    text-align: center;
    fill-opacity: 1;
    font-family: Helvetica
}

.muted {
    fill: #aaa
}

.warning {
    fill: #f6b900
}

.error {
    fill: #f60000
}

.serror {
    stroke: #f60000 !important;
}

.info {
    fill: #0041c4
}

.success {
    fill: #00ab00
}

.h1 {
    font-size: 33pt;
    font-weight: bold
}

.h2 {
    font-size: 27pt;
    font-weight: bold
}

.h3 {
    font-size: 20pt;
    font-weight: bold
}

.h4 {
    font-size: 14pt;
    font-weight: bold
}

.h5 {
    font-size: 11pt;
    font-weight: bold
}

.h6 {
    font-size: 8pt;
    font-weight: bold
}